# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../:\Users\JM\Desktop\정민\1. 싸피\★. 스터디\SecretAlgo\Secret-Algo-Study\jeongmin\스택_큐\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
